
*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {

    /* border: 2px solid black; */
    height: 500px;
    width: 1200px;
   /* margin: 50px; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px;
   
}
