
*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {

    /* border: 2px solid black; */
    height: 500px;
    width: 1200px;
   /* margin: 50px; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px;
   
}

.slider{


    /* border: 3px solid red; */
    height: 500px;
    width: 500px;
    background-color: rgb(237, 240, 240);
    border-radius: 20px;
    padding-left: 50px;
}

.slider:hover{
    box-shadow: 0px 0px 30px 0px blue;
}


.slider-Img{

    /* border: 2px solid green; */
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

